{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },

  "env": {
    "node": true,
    "es6": true
  },

  "plugins": ["babel"],

  "extends": ["eslint:recommended", "airbnb-base"]
}
