{
  "parser": "babel-eslint",

  "parserOptions": {
    "sourceType": "module"
  },

  "env": {
    "node": true,
    "es6": true
  },

  "plugins": ["prettier"],

  "extends": ["airbnb-base", "prettier"],

  "rules": {
    "no-underscore-dangle": [1, { "allow": ["_id"] }]
  }
}
